# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT

*.iml
.aider*
.aidy
.classpath
.claude/
.DS_Store
.factorypath
.idea/
.mvn/wrapper/maven-wrapper.jar
.project
.recommenders
.settings
.vscode/
/.aidy/
ajcore.*
build.log
eo-maven-plugin/lib
eo-runtime/lib
eo-runtime/measures.csv
interpolated-pom.xml
node_modules/
target/
xs3p.xsl_*
