*.iml
.aider*
.aidy
.classpath
.claude/
.DS_Store
.factorypath
.idea/
.mvn/wrapper/maven-wrapper.jar
.project
.recommenders
.settings
.vscode/
/.aidy/
eo-maven-plugin/lib
eo-runtime/lib
eo-runtime/measures.csv
node_modules/
target/
xs3p.xsl_*
build.log
interpolated-pom.xml
