# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: benchmark
'on':
  push:
    branches:
      - master
concurrency:
  group: benchmark-${{ github.ref }}
  cancel-in-progress: true
jobs:
  benchmark:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ubuntu-benchmark-jdk-21-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ubuntu-benchmark-jdk-21-maven-
      - run: mvn clean install --errors --batch-mode -Deo.xslMeasuresFile=measures.csv
      - run: |
          set -x
          sum=$(
            max=16
            printf "\`\`\`text\n"
            awk -F ',' '{ a[$1]+=$2; s+=$2; } END { for (k in a) printf("%s.xsl\t%d\t%0.2f%%\n", k, a[k], 100 * a[k]/s)}' eo-runtime/measures.csv | sort -g -k 2 | tac | column -t | head "-${max}"
            printf "\`\`\`\n\n"
            echo "The results were calculated in [this GHA job][benchmark-gha]"
            echo "on $(date +'%Y-%m-%d') at $(date +'%H:%M'),"
            echo "on $(uname) with $(nproc --all) CPUs."
            echo "The total is $(awk -F ',' '{s+=$2} END {print s}' eo-runtime/measures.csv) milliseconds."
            echo "We show only the first ${max} most expensive XSL stylesheets."
          )
          export sum
          perl -i -0777 -pe 's/(?<=<!-- benchmark_begin -->).*(?=<!-- benchmark_end -->)/\n\n$ENV{sum}\n\n/gs;' README.md
          url=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          export url
          perl -i -0777 -pe 's/(?<=\[benchmark-gha\]: )[^\n]+(?=\n)/$ENV{url}/gs;' README.md
      - uses: peter-evans/create-pull-request@v8
        with:
          sign-commits: true
          branch: benchmark
          commit-message: 'new benchmark results'
          delete-branch: true
          title: 'New benchmarking results'
          assignees: yegor256
          base: master
