# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: daily
'on':
  schedule:
    # Run load testing at 01:30 UTC every day
    - cron: '30 1 * * *'
jobs:
  build:
    timeout-minutes: 45
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 20
      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-jdk-20-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-jdk-20-maven-
      - run: |
          # Clean the test classes to avoid caching issues and prepare testing environment
          # without running the tests
          mvn clean install -Pqulice -PskipTests
          # Find script
          SCRIPT=${GITHUB_WORKSPACE}/src/test/scripts/test-repetition.sh
          # Check that script is exists
          if [ ! -f "${SCRIPT}" ]; then
              echo "Script ${SCRIPT} not found"
              exit 1
          fi
          # Make script runnable
          chmod +x "${SCRIPT}"
          # Test eo-parser
          "${SCRIPT}" --max 10 --folder "${GITHUB_WORKSPACE}/eo-parser"
          # Test eo-maven-plugin
          "${SCRIPT}" --max 10 --folder "${GITHUB_WORKSPACE}/eo-maven-plugin"
          # Test eo-runtime
          "${SCRIPT}" --max 10 --folder "${GITHUB_WORKSPACE}/eo-runtime" --compilation true
  report-fail:
    name: Create issue on failure
    needs: build
    if: failure() && github.event.pull_request == null
    runs-on: ubuntu-24.04
    steps:
      - uses: jayqi/failed-build-issue-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
