# The MIT License (MIT)
#
# Copyright (c) 2016-2024 Objectionary.com
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
---
name: loc-badge
on:
  push:
    branches:
      - master
concurrency:
  group: loc-badge-${{ github.ref }}
  cancel-in-progress: true
jobs:
  loc-badge:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: shadowmoose/GHA-LoC-Badge@1.0.0
        with:
          debug: true
          directory: .
          badge: target/loc-badge.svg
      - uses: JamesIves/github-pages-deploy-action@v4.6.5
        with:
          branch: gh-pages
          folder: target
          clean: false
        if: github.ref == 'refs/heads/master'
