---
name: markdown-lint
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths-ignore: [ 'paper/**', 'sandbox/**' ]
concurrency:
  group: markdown-lint-${{ github.ref }}
  cancel-in-progress: true
jobs:
  markdown-lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8459bc0c7e3759cdf591f513d9f141a95fef0a8f
      - uses: articulate/actions-markdownlint@v1
