# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: snippets
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  snippets:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ubuntu-qulice-jdk-21-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ubuntu-qulice-jdk-21-maven-
      - run: mvn clean install -Psnippets --errors --batch-mode
