# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: zerocracy
run-name: "Zerocracy judges"
'on':
  schedule:
    - cron: '36 * * * *'
concurrency:
  group: zerocracy
  cancel-in-progress: false
jobs:
  zerocracy:
    if: github.repository_owner == 'objectionary'
    runs-on: ubuntu-24.04
    timeout-minutes: 55
    steps:
      - uses: actions/checkout@v6
      - uses: zerocracy/judges-action@0.17.11
        with:
          token: ${{ secrets.ZEROCRACY_TOKEN }}
          github-token: ${{ secrets.ZEROCRACY_GITHUB_PAT }}
          repositories: objectionary/*
          factbase: objectionary.fb
          timeout: 30
          lifetime: 40
          cycles: 1
          options: |
            vitals_url=https://www.eolang.org/zerocracy/objectionary-vitals.html
      - uses: zerocracy/pages-action@0.6.4
        with:
          factbase: objectionary.fb
          output: pages
          logo: https://www.objectionary.com/cactus.svg
          github-token: ${{ secrets.ZEROCRACY_GITHUB_PAT }}
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: pages
          target-folder: zerocracy
          clean: false
